@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import "tailwindcss";
@tailwind utilities;


@theme {
  --breakpoint-*: initial;
  --breakpoint-mobile: 320px;
  --breakpoint-xmobile: 375px;
  --breakpoint-2xmobile: 410px;
  --breakpoint-sm: 500px;
  --breakpoint-md: 640px;
  --breakpoint-2md: 820px;
  --breakpoint-lg: 1024px;
  --breakpoint-slg: 950px;
  --breakpoint-tablet: 768px;
  --breakpoint-xl: 1280px;
  --breakpoint-2xl: 1536px;
  --color-primary-100: #FFE8F0;
  --color-primary: #EE2B69;
  --color-secondary: #BB8146;
  --color-secondary-100: #a8733e;
  --color-black-100: #333333;
  --color-black-200: #141413;
  --color-black-300: #7D8087;
  --color-black: #000000;
  --color-white-100: #F7F7F7;
  --color-white: #FFFFFF;
}

@layer components {
  .link-style {
    @apply text-sm text-gray-500 hover:text-black transition-all font-medium;
  }

  .input-login-style {
    @apply px-3 py-2 border w-full border-gray-300 rounded-none text-gray-700 text-sm focus:ring-1 ring-secondary focus:border-secondary transition-all duration-300 focus:outline-0;
  }

  .btn-rotate {
    @apply size-14 rounded-full text-2xl text-gray-600 hover:bg-gray-100 border border-gray-400/30 bg-white flex items-center justify-center rotate-90 group-hover:rotate-0 transition-all duration-500;
  }
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background: var(--background);
  color: var(--foreground);
}

:root {
  --main-font: 'Poppins', sans-serif;
}

html,
body {
  font-family: var(--main-font);
  font-weight: 400;
  font-style: normal;
}

.offer-style {
  clip-path: polygon(100% 0, 85% 50%, 100% 100%, 0 100%, 0 0);
}

.slider-buttons {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.slider-button {
  position: absolute;
  top: 50%;

  /* start off-screen */
  background-color: rgba(0, 0, 0, 0.2);
  width: 48px;
  height: 48px;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 40%;
  pointer-events: auto;
  transition: all 0.3s ease;
  z-index: 20;
}

.left-button {
  transform: translateY(-50%) translateX(-10px);
}

.right-button {
  transform: translateY(-50%) translateX(10px);
}

.slider-button:hover {
  background-color: rgba(0, 0, 0, 0.6);
}

.slider-container:hover .slider-button {
  opacity: 1;
  transform: translateY(-50%) translateX(0);
}